#hulu-logo{
    position: absolute;
    top: 20px;
    width: 15vw;
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 2px;
  }
  
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
